<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CoupsomeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoupSome"
        tools:targetApi="31">
        <activity
            android:name="in.coupsome.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="in.coupsome.ui.auth.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true" />
        <activity android:name="in.coupsome.ui.payment.PaymentGatewayActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_12rgiT8lcg9CXX" />
    </application>

</manifest>